<article class="project-card" id="project-${project_slug}" aria-labelledby="project-${project_slug}-heading">
  <h3 id="project-${project_slug}-heading" class="project-card__name">${project_name}</h3>
  <p class="project-card__summary">${project_summary}</p>
  ${project_outcome_html}
  <ul class="project-card__bullets">
${project_bullets_html}
  </ul>
  <ul class="project-card__stack" aria-label="Technology stack">
${project_stack_html}
  </ul>
  <p class="project-card__links">
${project_links_html}
  </p>
</article>
